.editor {
  height: 800px;
}

h2 {
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.snippet_menu {
  li {
    div {
      pointer-events: none;
      div {
        pointer-events: none;
        h4,
        div {
          pointer-events: none;
        }
      }
    }
  }
}
